* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 13px;
    width: 100%;
    overflow-x: hidden;
}

.debug {
    border: 1px solid red;
}

.icon-top {
    color: #0052b2;
}

.icon-top-select {
    color: #0052b2;
    font-size: 7px;
}

.header-top {
    color: #00234b;
    font-weight: 600;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.group-item {
    display: flex;
    padding: 15px;
    gap: 0px 15px;
    justify-content: space-between;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.item:hover {
    color: red;
}

li {
    list-style: none;
}

/*navbar*/
.navbar {
    background-color: #0052b2;
    height: 90px;
    width: 100%;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-middle {
    display: flex;
    gap: 0px 20px;
}

.navbar-item-dis {
    color: #6497d3;
    font-size: 17px;
    margin-right: 7px;
}

.navbar-item {
    display: flex;
    align-items: center;
}

.navbar-item:hover {
    color: #6497d3;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
}

.navbar-right-icon {
    padding: 15px;
    font-weight: 500;
    font-size: 21px;
}

.navbar-content {
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0052b2;
}

.navbar-content-item-top {
    font-size: 14px;
    font-weight: 300;
    gap: 0px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.navbar-content-icon {
    font-size: 10px;
}

.navbar-content-item-top-item {
    display: flex;
    align-items: center;
    gap: 0px 5px;
}

.navbar-content-bottom-text {
    font-weight: 500;
    font-size: 40px;
    margin-top: 20px;
}

/* Form Register */
.register {
    background-color: #f0f9fc;
    color: #0052b2;
    padding: 40px 65px;
}

.form-register {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
}

.form-register-title {
    margin-bottom: 30px;
}

.form-register-form {
    max-width: 340px;
    padding: 0px 20px;
}

.form-register-title {
    font-size: 30px;
    font-weight: 500;
}

.form-register-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-register-label {
    margin-bottom: 10px;
}

.form-register-input {
    padding: 10px 7px;
    border: 1px solid #b3cce8;
    outline: none;
    border-radius: 5px;
    background-color: #f0f9fc;
    color: #0052b2;
}

.form-register-input:focus {
    border: 1px solid #0052b2;
    outline: 1px;
    overflow: hidden;
}

.form-register-paragraphy {
    color: #808d9e;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}

.form-register-security {
    color: #808d9e;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}

.form-register-security-privacy {
    color: #0052b2;
    font-weight: 400;
}

.form-register-security-privacy:hover {
    color: red;
}

.form-register-button {
    width: 100%;
    padding: 15px 0px;
    background-color: #0052b2;
    color: white;
    font-size: 13px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    margin-bottom: 30px;
}

.form-register-button:hover {
    background-color: #00234b;
}

.form-register-available {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
}

.form-register-available-content {
    color: #808d9e;
    font-weight: 300;
}

.form-register-available-login:hover {
    color: red;
    cursor: pointer;
}

/*Nav bottom*/
.navbar-bottom {
    height: 80px;
    display: flex;
    padding: 0px 95px;
    justify-content: space-between;
    align-items: center;
    background-color: #e5f5fc;
}

.navbar-bottom-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 15px;
}

.navbar-bottom-item-icon {
    color: #73bf2f;
    font-size: 20px;
}

.navbar-bottom-item-content {
    font-weight: 500;
    color: #0052b2;
}

.footer {
    background: #032d6e;
    background-size: cover;
}

.footer {
    display: grid;
    color: #6497d3;
    font-weight: 300;
    padding: 20px 65px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-first {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.footer-first-title {
    max-width: 160px;
    word-wrap: break-word;
    margin-top: 50px;
}

.footer-first-image {
    width: 150px;
}

.footer-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.footer-second-item {
    display: flex;
    gap: 0px 20px;
    color: #96b2dc;
    margin-bottom: 30px;
}

.footer-second-icon {
    color: #73bf2f;
    font-weight: 500;
    font-size: 35px;
}

.footer-second-title {
    line-height: 20px;
}

.footer-third-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: white;
}

.footer-third-follow {
    color: #6497d3;
}

.footer-third-icon {
    color: #73bf2f;
    margin-right: 20px;
}

.footer-third-social {
    font-size: 15px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.footer-third-social:hover {
    color: red;
}

.footer-four-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.icon-bottom {
    color: #73bf2f;
    margin-right: 20px;
}